<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="at">

<!--로그인한 사원의 출근처리(지각이면 지각으로 )  -->
<insert id = "attend_on">
INSERT INTO tbl_attend (attend_date,emp_no,attend_on,att_code)
VALUES (to_char(sysdate,'yyyy/mm/dd'),#{emp_no},to_char(sysdate,'yyyy/mm/dd hh24:mi:ss'),'W0')
</insert>


<!--로그인한 사원의 오늘 출근 상태 조회 (지각이면 지각으로 나오게...) -->
<select id = "emp_today" resultType="Attend.AttendVO">
select a.* ,GET_CODE_VALUE(a.ATT_CODE) ATT_STATE
from tbl_attend a
where to_char(attend_date, 'yyyy/mm/dd') = to_char(sysdate, 'yyyy/mm/dd') and emp_no =  #{emp_no}   
</select>


<!--로그인한 사원의 퇴근 처리(지각이어도 퇴근으로 찍힘) -->
<update id ="attend_off">
UPDATE tbl_attend
SET attend_off = to_char(sysdate,'yyyy/mm/dd hh24:mi:ss') , att_code='W1'
WHERE emp_no=#{emp_no} and to_char(attend_date, 'yyyy/mm/dd') =  to_char(sysdate, 'yyyy/mm/dd')
</update>


<!--로그인한 회원의  날짜별 상태조회   -->
<select id = "list_emp_since" resultType="Attend.AttendVO">
select a.*,GET_CODE_VALUE(a.ATT_CODE) ATT_STATE
from tbl_attend a inner join tbl_emp e
on a.emp_no = e.emp_no
<![CDATA[WHERE to_char(attend_date, 'yyyy/mm/dd') <= to_char(sysdate, 'yyyy/mm/dd') ]]>
and a.emp_no = #{emp_no}
order by attend_date desc
</select>



<!-- 일주일 출석 조회 1/11 csm -->
<select id="list_7days" resultType="Attend.AttendVO">
select a.*,GET_CODE_VALUE(a.ATT_CODE) ATT_STATE
from tbl_attend a inner join tbl_emp e
on a.emp_no = e.emp_no
<![CDATA[
WHERE to_char(attend_date, 'yyyy/mm/dd') <= to_char(current_date, 'yyyy/mm/dd')
AND to_char(attend_date, 'yyyy/mm/dd') > = to_char(current_date-7, 'yyyy/mm/dd')]]>
and a.emp_no = 1
order by attend_date desc

</select>


	

</mapper>