<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="re">

<!-- 댓글 전체목록 --> 
<select id="reply_list" resultType="notice.ReplyVO">
select *
from (select * from tbl_reply
where board_no = #{board_no}
order by 1 desc)
</select>

<!-- 공지사항 댓글작성 -->
<insert id="reply_no_insert">
insert into tbl_reply( BOARD_NO, EMP_NO, REPLY_CONTENT)
values( #{board_no}, #{emp_no}, #{reply_content})
</insert>

<!-- 공지사항 / 익명게시판 글삭제 -->
<delete id="reply_delete">
delete from tbl_reply
where reply_no = #{reply_no}
</delete>

<!-- 댓글 수정 -->
<update id="reply_update">
update tbl_reply
set reply_content = #{reply_content}
where reply_no = #{reply_no}
</update>

<!-- 댓글 수 -->
<update id="reply_count">
update tbl_board
set reply_count = (select count(reply_no) from tbl_reply
where tbl_board.board_no = tbl_reply.board_no)
</update>

</mapper>