<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sche">

<!-- 회사일정조회 -->
<select id="compSche" resultType="schedule.ScheduleVO">
select *
from tbl_sche
where SCHE_type = 'C1'
order by SCHE_NO
</select>


<!-- 기간내 회사일정조회 -->

<select id="compPeriod" resultType="schedule.ScheduleVO">
<![CDATA[
select *
from tbl_sche
where SCHE_type = 'C1' and TO_CHAR(SYSDATE, 'yy/MM/dd') <= TO_CHAR(sche_end, 'yy/MM/dd')
order by SCHE_NO
]]>
</select>

<!-- 기간내 부서일정조회 -->
<select id="deptPeriod" resultType="schedule.ScheduleVO">
<![CDATA[
select *
from tbl_sche
where SCHE_type = #{dept_code} and TO_CHAR(SYSDATE, 'yy/MM/dd') <= TO_CHAR(sche_end, 'yy/MM/dd')
order by SCHE_NO
]]>
</select>

<!-- 기간내 개인일정조회 -->
<select id="personalPeriod" resultType="schedule.ScheduleVO">
<![CDATA[
select *
from tbl_sche
where SCHE_type = #{emp_no} and TO_CHAR(SYSDATE, 'yy/MM/dd') <= TO_CHAR(sche_end, 'yy/MM/dd')
order by SCHE_NO
]]>
</select>


<insert id="dept_insert">
insert into tbl_Sche (emp_no,sche_type,sche_title,sche_content,sche_Start,sche_end,sche_status)
values(#{emp_no}, (select code_category||code_num code from tbl_code where code_value=' #{department_name}')  , #{sche_title},#{sche_content}, #{sche_start}, #{sche_end},'L1')
</insert>

<insert id="company_insert">
insert into tbl_Sche (emp_no,sche_type,sche_title,sche_content,sche_Start,sche_end,sche_status)
values(#{emp_no}, 'C1' , #{sche_title},#{sche_content}, #{sche_start}, #{sche_end},'L1')
</insert>

<insert id="personal_insert">
insert into tbl_Sche (emp_no,sche_type,sche_title,sche_content,sche_Start,sche_end,sche_status)
values(#{emp_no}, #{emp_no} , #{sche_title},#{sche_content}, #{sche_start}, #{sche_end},'L1')
</insert>

<!-- 스케줄 번호에 해당하는 사원명 찾아줌 -->
<select id="findName" resultType="String">
Select emp_name from tbl_Emp
 where emp_no = (select emp_no from tbl_Sche where sche_no=#{sche_no})
</select>

<delete id="delete">
DELETE FROM tbl_sche WHERE sche_no = #{sche_no}
</delete>

<update id="done">
UPDATE tbl_sche
SET sche_status = #{status} 
WHERE sche_no = #{sche_no} 
</update>

</mapper>