<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="at">





<!-- 전체사원의 출퇴근 현황 조회 -->
<select id = "admin_attend" resultType="attend.AttendVO">

select * 
from(
select row_number() over(ORDER BY a.attend_date ) no, a.attend_date ,c2.code_value branch_name ,c3.code_value department_name,
c.code_value rank_name,e.emp_name, to_char(a.attend_on,'hh24:mi') attend_on,  to_char(a.attend_off,'hh24:mi') attend_off , c4.code_value att_state
from tbl_attend a 
left join tbl_emp e on a.emp_no = e.emp_no 
left join tbl_org o on e.emp_no = o.emp_no 
left join tbl_code c on o.rank_code = c.code_category||c.code_num 
left join tbl_code c2 on o.branch_code = c2.code_category||c2.code_num 
left join tbl_code c3  on o.dept_code = c3.code_category||c3.code_num 
left join tbl_code c4  on a.att_code = c4.code_category||c4.code_num
) b
where no between ${beginList} and ${endList}	   
order by b.attend_date desc
</select>



<!-- 전체사원 조회- 이름 검색 -->
<select id = "ad_name" resultType="attend.AttendVO">
select a.attend_date ,c2.code_value branch_name ,c3.code_value department_name,
c.code_value rank_name,e.emp_name, a.attend_on, a.attend_off , c4.code_value att_state
from tbl_attend a 
left join tbl_emp e on a.emp_no = e.emp_no 
left join tbl_org o on e.emp_no = o.emp_no 
left join tbl_code c on o.rank_code = c.code_category||c.code_num 
left join tbl_code c2 on o.branch_code = c2.code_category||c2.code_num 
left join tbl_code c3  on o.dept_code = c3.code_category||c3.code_num 
left join tbl_code c4  on a.att_code = c4.code_category||c4.code_num
where e.emp_name like '%'||#{keyword}||'%' 
</select>


<!--로그인한 회원의  날짜별 상태조회   -->
<select id = "list_emp_since" resultType="attend.AttendVO">
select a.*,GET_CODE_VALUE(a.ATT_CODE) ATT_STATE
from tbl_attend a inner join tbl_emp e
on a.emp_no = e.emp_no
<![CDATA[WHERE a.attend_date <= to_char(current_date, 'yyyy/mm/dd') ]]>
and a.emp_no = #{emp_no}
order by attend_date desc
</select>



<!-- 일주일 출석 조회 1/11 csm -->
<select id="list_7days" resultType="attend.AttendVO">
select a.*,GET_CODE_VALUE(a.ATT_CODE) ATT_STATE
from tbl_attend a inner join tbl_emp e
on a.emp_no = e.emp_no
<![CDATA[
WHERE attend_date <= to_char(current_date, 'yyyy/mm/dd')
AND attend_date > = to_char(current_date-7, 'yyyy/mm/dd')]]>
and a.emp_no = #{emp_no}
order by attend_date desc

</select>



<!--  해당 날짜의 /지점별 /부서별 /직급별 직원의 출퇴근 상태 조회 -->
<select id = "worktime_all" resultType="attend.AttendVO">
select a.attend_date ,c2.code_value branch_name ,c3.code_value department_name,
c.code_value rank_name,e.emp_name, a.attend_on, a.attend_off , c4.code_value att_state
from tbl_attend a 
left join tbl_emp e on a.emp_no = e.emp_no 
left join tbl_org o on e.emp_no = o.emp_no 
left join tbl_code c on o.rank_code = c.code_category||c.code_num 
left join tbl_code c2 on o.branch_code = c2.code_category||c2.code_num 
left join tbl_code c3  on o.dept_code = c3.code_category||c3.code_num 
left join tbl_code c4  on a.att_code = c4.code_category||c4.code_num
where to_date(a.attend_date, 'yyyy/MM/dd')  = #{attend_date}
 <if test='branch_name != null'>
and c2.code_value = #{branch_name,jdbcType=VARCHAR}
 </if>
  <if test='department_name != null'>
and c3.code_value = #{department_name,jdbcType=VARCHAR}
 </if>
  <if test='rank_name != null'>
and c.code_value = #{rank_name,jdbcType=VARCHAR}
 </if>
   <if test='att_state != null'>
and c4.code_value = #{att_state,jdbcType=VARCHAR}
 </if>
order by a.attend_date ,c2.code_value,c3.code_value,c.code_num, e.emp_name
</select>



<!-- 전체사원의 출근한 전체 날짜의 근무 시간   조회   -->
<select id ="worktime_day" resultType="attend.AttendVO">
select a.attend_date ,c2.code_value branch_name ,c3.code_value department_name,c.code_value rank_name,e.emp_name,
(TO_CHAR(ATTEND_OFF , 'hh24') - TO_CHAR(ATTEND_ON , 'hh24')) work_time
from tbl_attend a
left join tbl_emp e 
on a.emp_no = e.emp_no
left join tbl_org o
on e.emp_no = o.emp_no
left join tbl_code c 
on o.rank_code = c.code_category||c.code_num
left join tbl_code c2
on o.branch_code  = c2.code_category||c2.code_num 
left join tbl_code c3
on o.dept_code  = c3.code_category||c3.code_num 
order by a.attend_date ,c2.code_value,c3.code_value,c.code_num, e.emp_name
</select>





<!--  총건수 조회 -->
<select id='total' resultType='integer'>
select count(*) from tbl_attend 
</select>





<!-- 이번주 정상 업무 종료 건수 -->
<select id = "codeW4"  resultType="integer">
select count (case when att_code='W4' then 1 end) AS Count_W4
from tbl_attend
where emp_no=#{emp_no}
<![CDATA[
and attend_date <= to_char(current_date, 'yyyy/mm/dd')
and attend_date > = to_char(current_date-7, 'yyyy/mm/dd')]]>
</select>


<!-- 정상 업무 종료 목록 조회 -->
<select id = "code4list" resultType ="attend.AttendVO">
   select a.attend_date, to_char(a.attend_on,'hh24:mi') attend_on,  to_char(a.attend_off,'hh24:mi') attend_off ,GET_CODE_VALUE(a.ATT_CODE) ATT_STATE
from tbl_attend a
where a.att_code = 'W4'
and a.emp_no=#{emp_no}
order by a.attend_date desc
</select>


<!-- 이번주 지각 건수 -->
<select id = "codeW3"  resultType="integer">
select count (case when att_code='W3' then 1 end) AS count_W3
from tbl_attend
where emp_no=#{emp_no}
<![CDATA[
and attend_date <= to_char(current_date, 'yyyy/mm/dd')
and attend_date > = to_char(current_date-7, 'yyyy/mm/dd')]]>
</select>

<!-- 지각 목록 조회 -->
<select id = "code3list" resultType ="attend.AttendVO">
   select a.attend_date, to_char(a.attend_on,'hh24:mi') attend_on,  to_char(a.attend_off,'hh24:mi') attend_off ,GET_CODE_VALUE(a.ATT_CODE) ATT_STATE
from tbl_attend a
where a.att_code = 'W3'
and a.emp_no=#{emp_no}
order by a.attend_date desc
</select>

<!-- 이번주 결근 및 연차 사용 건수 -->
<select id = "codeW2"  resultType="integer">
select count (case when att_code='W2' then 1 end) AS count_W2
from tbl_attend
where emp_no=#{emp_no}
<![CDATA[
and attend_date <= to_char(current_date, 'yyyy/mm/dd')
and attend_date > = to_char(current_date-7, 'yyyy/mm/dd')]]>
</select>
<!-- 결근 및 연차 사용조회 목록 조회 -->
<select id = "code2list" resultType ="attend.AttendVO">
   select a.attend_date, to_char(a.attend_on,'hh24:mi') attend_on,  to_char(a.attend_off,'hh24:mi') attend_off ,GET_CODE_VALUE(a.ATT_CODE) ATT_STATE
from tbl_attend a
where a.att_code = 'W2'
and a.emp_no=#{emp_no}
order by a.attend_date desc
</select>


<!--로그인한 사원의 출근하기  -->
<insert id ="attend_on">
INSERT INTO tbl_attend (attend_date,emp_no,attend_on,att_code)
values(to_char(current_date,'yyyy/mm/dd'),#{emp_no},to_char(current_date,'yyyy/mm/dd hh24:mi:ss'),'W0')
</insert>

<!-- 로그인한 사원 퇴근하기 -->
<update id ="attend_off">
UPDATE tbl_attend
SET attend_off = to_char(current_date,'yyyy/mm/dd hh24:mi:ss') , att_code='W1' 
WHERE emp_no= #{emp_no} 
and attend_date =  to_char(current_date, 'yyyy/mm/dd') 
</update>



<!--로그인한 사원의 오늘 출근 상태 조회 (지각이면 지각으로 나오게...) -->
<select id = "emp_today" resultType="attend.AttendVO">
select a.* ,GET_CODE_VALUE(a.ATT_CODE) ATT_STATE
from tbl_attend a
where a.attend_date = to_char(current_date, 'yyyy/mm/dd') and emp_no = #{emp_no}
</select>

<!--로그인한 사원의 출근취소  -->
<delete id = "on_cancel">
delete 
from tbl_attend
where  emp_no = #{emp_no} 
and attend_date =  to_char(current_date, 'yyyy/mm/dd') 
</delete>


<!-- 로그인한 사원 퇴근취소 --> 
<update id="off_cancel">
update tbl_attend
set  attend_off = null  , att_code = 'W0'
where emp_no=#{emp_no} 
and attend_date =to_char(current_date,'yyyy/mm/dd')
</update>





</mapper>

