<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lo">

<!-- 로그인조회 -->
<select id='login' resultType='login.LoginVO'>
select * from tbl_emp where emp_no = #{id} and emp_pw = #{pw}
</select>


</mapper>