@charset "UTF-8";

ul {
	list-style: none;
}
a{
	color:inherit;
	text-decoration: none;
}

html {
	font-size: 18px;
	scroll-behavior: smooth;
	box-sizing: border-box;
}
.d-none {
	display: none;
}


.w-pct80 { width:80% }
.w-pct60 { width:60% }
.w-pct40 { width:40% }

.w-px40 { width:40px }
.w-px60 { width:60px }
.w-px80 { width:80px }
.w-px100 { width:100px }
.w-px120 { width:120px }
.w-px140 { width:140px }
.w-px150 { width:150px }
.w-px160 { width:160px }
.w-px180 { width:180px }
.w-px200 { width:200px }
.w-px220 { width:220px }
.w-px250 { width:250px }
.w-px300 { width:300px }
.w-px350 { width:350px }
.w-px400 { width:400px }
.w-px500 { width:500px }
.w-px600 { width:600px }
.w-px700 { width:700px }
.w-px800 { width:800px }
.w-px900 { width:900px }
.w-px1000 { width:1000px }
.w-px1200 { width:1200px }

.page-list {
	display: flex; justify-content: center; line-height: 38px; margin: 10px auto;
}
.page-list a, .page-list span {
	width: 38px; height: 38px; margin: 1px;
	border: 1px solid transparent;
}
.page-list span {
	border: 1px solid #3367d6; color: #3367d6
}
.page-list a:hover {
	background-color: rgba(51, 103, 214, 0.1); color: #3367d6
}

a.btn-fill {
	background-color: #3367d6;
	color: #fff;
}
a.btn-empty {
	background-color: #fff;
	color: #3367d6;
}